---
import HeadTags from '@tutorialkit/astro/default/components/HeadTags.astro';
import { ThemeSwitch } from '@tutorialkit/astro/default/components/ThemeSwitch.tsx';
import { ViewTransitions } from 'astro:transitions';
import '@tutorialkit/astro/default/styles/base.css';
import '@tutorialkit/custom.css';
import path from 'node:path';

let { meta, showLogo } = Astro.props.frontmatter;

meta ||= {};
const title = meta.title ?? 'Getting Started with Rails';

meta.title ??= title;
meta.description ??= 'An interactive Rails tutorial right in your browser';

const logo = path.join(import.meta.env.BASE_URL, 'logo.svg');
const logoDark = path.join(import.meta.env.BASE_URL, 'logo-dark.svg');
---


<!doctype html>
<html lang="en" transition:animate="none">
  <head>
    <HeadTags>
      <title slot="title">{title}</title>

      <Fragment slot="links">
        <link rel="icon" type="image/svg+xml" href='/favicon.svg' />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
          href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap"
          rel="stylesheet"
        />
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap" rel="stylesheet" />
      </Fragment>
    </HeadTags>
    <ViewTransitions />
    <script is:inline>
      setTutorialKitTheme();

      function setTutorialKitTheme() {
        let theme = localStorage.getItem('tk_theme');

        if (!theme) {
          theme = window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light';
        }

        document.querySelector('html')?.setAttribute('data-theme', theme);
      }
    </script>
  </head>
  <body class="text-black relative">
    <main class="max-w-full flex flex-col min-h-screen h-full transition-theme bg-tk-elements-app-backgroundColor text-tk-elements-app-textColor p-5" data-swap-root>
      <nav
        class="bg-tk-elements-topBar-backgroundColor transition-theme justify-end flex max-w-full items-center p-3 px-4 min-h-[56px]"
      >
        <div>
          <ThemeSwitch client:load transition:persist />
        </div>
        <div class="mr-2">
          <a
            href="https://github.com/evilmartians/rails-tutorial"
            target="_blank"
            rel="noopener noreferrer"
            class="flex items-center font-size-3.5 text-tk-elements-topBar-iconButton-iconColor hover:text-tk-elements-topBar-iconButton-iconColorHover transition-theme bg-tk-elements-topBar-iconButton-backgroundColor hover:bg-tk-elements-topBar-iconButton-backgroundColorHover p-1 rounded-md"
          >
            <svg
              class="w-5 h-5"
              fill="currentColor"
              viewBox="0 0 24 24"
              aria-hidden="true"
            >
              <path
                fill-rule="evenodd"
                d="M12 2C6.477 2 2 6.484 2 12.017c0 4.425 2.865 8.18 6.839 9.504.5.092.682-.217.682-.483 0-.237-.008-.868-.013-1.703-2.782.605-3.369-1.343-3.369-1.343-.454-1.158-1.11-1.466-1.11-1.466-.908-.62.069-.608.069-.608 1.003.07 1.531 1.032 1.531 1.032.892 1.53 2.341 1.088 2.91.832.092-.647.35-1.088.636-1.338-2.22-.253-4.555-1.113-4.555-4.951 0-1.093.39-1.988 1.029-2.688-.103-.253-.446-1.272.098-2.65 0 0 .84-.27 2.75 1.026A9.564 9.564 0 0112 6.844c.85.004 1.705.115 2.504.337 1.909-1.296 2.747-1.027 2.747-1.027.546 1.379.202 2.398.1 2.651.64.7 1.028 1.595 1.028 2.688 0 3.848-2.339 4.695-4.566 4.943.359.309.678.92.678 1.855 0 1.338-.012 2.419-.012 2.747 0 .268.18.58.688.482A10.019 10.019 0 0022 12.017C22 6.484 17.522 2 12 2z"
                clip-rule="evenodd"
              />
            </svg>
          </a>
        </div>
      </nav>
      <div class="min-w-[600px] max-w-[1025px] mx-auto h-full flex flex-col markdown-content">
        {showLogo &&
        <div class="flex flex-row items-center justify-center p-5 mb-4">
          <img class="h-40 w-auto dark:hidden" src={logo} />
          <img class="h-40 w-auto hidden dark:inline-block" src={logoDark} />
        </div>
        }
        <slot />
      </div>
    </main>
  </body>
</html>
